body{
  background-color: #2a9d8f;
}

.name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.intro{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.loc{
  font-weight: 600;
}

.git{
  font-size: 25px;
}

.gith{
  font-size: 30px;
}

.html{
  font-size: 35px;
}

.css{
  font-size: 40px;
}

.button{
  text-decoration: none;
}